<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='annotorious/annotorious.css') }}"/>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyC6ce12c32OpCI7-u5ueRbfYhsw_fBnkwk",
        authDomain: "vip-ipcrowd.firebaseapp.com",
        databaseURL: "https://vip-ipcrowd.firebaseio.com",
        projectId: "vip-ipcrowd",
        storageBucket: "vip-ipcrowd.appspot.com",
        messagingSenderId: "80658497046"
      };
      firebase.initializeApp(config);
    </script>
    <script>
      function signout() {
        firebase.auth().signOut();
        window.location = 'login';
      }
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='annotorious/annotorious.min.js') }}"></script>
  </head>
  {% if user == 'axing6' %}
    <body>
      <h1>Hello {{ user }}</h1>
      <img src="{{ url_for('static', filename='images/flood.jpg') }}" class=annotatable width=600/>
      <img src="{{ url_for('static', filename='images/elephant.jpg') }}" class=annotatable width=600/>
      <img src="{{ url_for('static', filename='images/mask.jpg') }}" class=annotatable width=600/><br><br>
      <form action="/{{ user }}" method="post">
        <button action="/{{ user }}" method="post" type="submit" value="Update Annotations"/>Update Annotations</button>
      </form>
      <input name="show_all_annos" type="button" value="Show All Annotations" onclick="populate({{ populated_annos }});"/><br><br>
      <input id="sign_out" type="button" value="Sign Out" onclick="signout();"/>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
  {% else %}
    <body onload="handle_data();">
      <h1>Hello {{ user }}</h1>
      <h4>Bias: {{ bias }}</h4>
      <h4>Points: {{ points }}</h4>
      {% if user == 'user1' %}
        <img src="{{ url_for('static', filename='images/flood.jpg') }}" class=annotatable width=600/>
      {% elif user == 'user2' %}
        <img src="{{ url_for('static', filename='images/elephant.jpg') }}" class=annotatable width=600/>
      {% elif user == 'user3' %}
        <img src="{{ url_for('static', filename='images/mask.jpg') }}" class=annotatable width=600/>
      {% endif %}
      <input name="store_annos" type="button" value="Submit" onclick="store_annotations();"/><br><br>
      <input id="sign_out" type="button" value="Sign Out" onclick="signout();"/>
      <form action="/{{ user }}" method="post">
        <button action="/{{ user }}" method="post" type="submit" value="Update Modules"/>Update Modules</button>
      </form>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
  {% endif %}
</html>
