<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyC6ce12c32OpCI7-u5ueRbfYhsw_fBnkwk",
        authDomain: "vip-ipcrowd.firebaseapp.com",
        databaseURL: "https://vip-ipcrowd.firebaseio.com",
        projectId: "vip-ipcrowd",
        storageBucket: "vip-ipcrowd.appspot.com",
        messagingSenderId: "80658497046"
      };
      firebase.initializeApp(config);
    </script>
    <script>
      function load_home() {
        var email = document.getElementById("email").value;
        var pass = document.getElementById("pass").value;
        firebase.auth().signInWithEmailAndPassword(email, pass).catch(function(error) {
          var errorCode = error.code;
          var errorMessage = error.message;
          if (errorCode === 'auth/wrong-password') {
            alert('Wrong password.');
          } else {
            alert(errorMessage);
          }
          console.log(error);
        });

        firebase.auth().onAuthStateChanged(firebaseUser => {
          var username = firebaseUser.email.split('@')[0];
          if (firebaseUser) {
            //firebase.database().ref('users/' + username + '/signedin').set('True');
            window.location = username;
          } else {
            console.log("No user logged in.");
          }
        });
      }
      function create_user() {
        var email = document.getElementById("email").value;
        var pass = document.getElementById("pass").value;
        var confirm_pass = document.getElementById("confirm_pass").value;
        if (pass == confirm_pass) {
          firebase.auth().createUserWithEmailAndPassword(email, pass).catch(function(error) {
            var errorCode = error.code;
            var errorMessage = error.message;
            alert(errorMessage);
            console.log(error);
          });
        }
      }
    </script>
  </head>
  <body class="index">
    <div class="signinBox">
			<img src="{{ url_for('static', filename='images/user.png') }}" class="user">
			<h2>Welcome to the Demo!</h2>
      <p>Name</p>
      <input id="name" type="text" placeholder="George P Burdell" size=20>
			<p>Email</p>
			<input id="email" type="text" placeholder="gpburdell3@gatech.edu" size=20>
			<p>Password</p>
			<input id="pass" type="password" placeholder="••••••••" size=20>
      <p>Confirm Password</p>
			<input id="confirm_pass" type="password" placeholder="••••••••" size=20>
      <input id="signup" type="submit" value="Confirm Sign-Up" onclick="create_user(); load_home();"/>
      <a href="login">Return to Log-In</a>
		</div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
